/* header.component.css */
header {
  background-color: #24d0ab;
  color: white;
  padding: 15px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo a {
  color: white;
  font-size: 24px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

header .logo .logo-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

header nav {
  display: flex;
  align-items: center;
}

header nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

header nav a:hover {
  text-decoration: underline;
}

header nav .dropdown {
  position: relative;
  display: inline-block;
}

header nav .dropbtn {
  background-color: #24d0ab;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
}

header nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  cursor: pointer;
}

header nav .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

header nav .dropdown-content a:hover {
  background-color: #f1f1f1;
}

header nav .dropdown:hover .dropdown-content {
  display: block;
}

header nav .dropdown:hover .dropbtn {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  header .container {
    flex-direction: column;
  }

  header nav {
    flex-direction: column;
    align-items: flex-start;
  }

  header nav a, header nav .dropbtn {
    margin: 5px 0;
  }
}
